<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style media="screen">
  .th{
    align-content: 'center';
    font-size: 16px;
    font-family: sans-serif;
    background-color: #777799;
    color: #FFFFFF;
    margin: 'auto';
  }
  img{
    height:100px;
    width:100px;
  }
</style>

    </head>
  <body>
    <div class="container">
    <form action="/update" method="post" enctype="multipart/form-data">

        <table class="table table-hover">
          <thead>
        <tr class="th">
          <td colspan="2" align="center">Edit User Data</td>
        </tr>
      </thead>
          <tr>
            <th>ID</th>
            <td><input type="hidden" name="Id" value="<%= val[0].Id %> "><%= val[0].Id %></td>
          </tr>
          <tr>
            <th>Image</th>
            <td>
              <img src="../images/<%= val[0].Image %>" class="img-thumbnail"><br>
              <input type="file" name="filetoupload"><br>
              <input type="hidden" name="Pic" value="<%= val[0].Image %>"></td>
          </tr>
          <tr>
            <th>UserName</th>
            <td><input type="text" class="form-control" name="UserName" value=" <%= val[0].UserName %>"></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><input type="text" name="Email"  class="form-control" value=" <%= val[0].Email %>"></td>
          </tr>
          <tr>
            <th>Role</th>
            <td><input type="text" name="Role" class="form-control"  value=" <%= val[0].Role %>"></td>
          </tr>
          <tr>
          <td colspan="2" align="center"><input type="submit" class="btn btn-success" value="SUbmit">
          <a href="/" class="btn btn-danger">Cancel</a>
          </td>
          </tr>
    </table>
    </div>
    </form>
  </body>
</html>
